.container{
    
        /* Size and position */
        width:50%;
        height:30%;
        
        /* Styles */
        /* background: #fff; */
        /* border-radius: 4px; */
        /* color: #ccc; */
       
    
    
}


/* 
.container{
        background-color: red;
} */